# BoomBikes's Demand Linear Regression Model Development

##### Done By

Name: **Arunkumar Gunasekaran**

Batch: **ML C57**  Assignment: **Bike Sharing Assignment**

Email: manigunasekaran30@gmail.com

# Bike Sharing Assignment

## Table of Contents
1. [Problem Statement](#Problem-Statement)
   - [Business Objective](#Business-Objective)
2. [Importing Necessary Modules](#Importing-Necessary-Modules)
3. [Data Understanding](#Data-Understanding)
   - [Loading Data from the CSV](#Loading-Data-from-the-CSV)
   - [Understanding Structure of dataset](#Understanding-Structure-of-dataset)
   - [Data Quality checks](#Data-Quality-checks)
4. [Data Preparation](#Data-Preparation)
    - [Fixing Data Types](#Fixing-Data-Types)
    - [Converting Values to clean and understandable format](#Converting-Values-to-clean-and-understandable-format)
    - [Droping irrelevant columns](#Droping-irrelevant-columns)
    - [EDA](#EDA)
       - [Univariate Analysis](#Univariate-Analysis)
       - [Bivariate Analysis](#Bivariate-Analysis)
    - [Creating Dummy Variables](#Creating-Dummy-Variables)
5. [Model Building](#Model-Building)
    - [Test Train Split](#Test-Train-Split)
    - [Scaling features](#Scaling-features)
    - [Feature Selection](#Feature-Selection)
       - [RFE](#RFE)
       - [Manual Feature Selection](#Manual-Feature-Selection)
6. [Model Evaluation](#Model-Evaluation)
     - [Residual Analysis](#Residual-Analysis)
     - [Model Evaluation using Test data](#model-Evaluation-using-Test-data)
     - [Model Efficiency](#Model-Efficiency)
7. [Conclusion](#Conclusion)

## Problem Statement

A bike-sharing system is a service in which bikes are made available for shared use to individuals on a short term basis for a price or free. Many bike share systems allow people to borrow a bike from a "dock" which is usually computer-controlled wherein the user enters the payment information, and the system unlocks it. This bike can then be returned to another dock belonging to the same system.

A US bike-sharing provider BoomBikes has recently suffered considerable dips in their revenues due to the ongoing Corona pandemic. The company is finding it very difficult to sustain in the current market scenario. So, it has decided to come up with a mindful business plan to be able to accelerate its revenue as soon as the ongoing lockdown comes to an end, and the economy restores to a healthy state.

### Business Objective

1. To model the demand for shared bikes with the available independent variables
2. To understand Which variables are significant in predicting the demand for shared bikes
3. To understand how exactly the demands vary with different features

So, accordingly manipulate the business strategy to meet the demand levels and meet the customer's expectations

We need to Build a machine Learning model to predict the demand, As the demand is the numerical values and we have existing data labels. We would proceed Analysis for building a Linear Regression Model

## Importing Necessary Modules

In [1]:
# Supress Warnings
import warnings
warnings.filterwarnings('ignore')

# For analysis and numerical functions
import numpy as np
import pandas as pd

# For Vizualization
import seaborn as sns
import matplotlib.pyplot as plt

#For building model
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.feature_selection import RFE
from sklearn.linear_model import LinearRegression
import statsmodels.api as sm
from statsmodels.stats.outliers_influence import variance_inflation_factor

#For Model Evaluation
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score

## Data Understanding

### Loading Data from the CSV

In [2]:
#Loading data from CSV using pandas
df = pd.read_csv("day.csv")

In [3]:
df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,01-01-2018,1,0,1,0,6,0,2,14.110847,18.18125,80.5833,10.749882,331,654,985
1,2,02-01-2018,1,0,1,0,0,0,2,14.902598,17.68695,69.6087,16.652113,131,670,801
2,3,03-01-2018,1,0,1,0,1,1,1,8.050924,9.47025,43.7273,16.636703,120,1229,1349
3,4,04-01-2018,1,0,1,0,2,1,1,8.200000,10.60610,59.0435,10.739832,108,1454,1562
4,5,05-01-2018,1,0,1,0,3,1,1,9.305237,11.46350,43.6957,12.522300,82,1518,1600

In [4]:
df.tail()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
725,726,27-12-2019,1,1,12,0,4,1,2,10.420847,11.33210,65.2917,23.458911,247,1867,2114
726,727,28-12-2019,1,1,12,0,5,1,2,10.386653,12.75230,59.0000,10.416557,644,2451,3095
727,728,29-12-2019,1,1,12,0,6,0,2,10.386653,12.12000,75.2917,8.333661,159,1182,1341
728,729,30-12-2019,1,1,12,0,0,0,1,10.489153,11.58500,48.3333,23.500518,364,1432,1796
729,730,31-12-2019,1,1,12,0,1,1,2,8.849153,11.17435,57.7500,10.374682,439,2290,2729

<font color='green'>Observation</font>
1. Data is available for each day for year 2018 and 2019
2. Weekday at head and tail is not matching, head takes 0 as Tuesday tail takes 0 as monday
3. Season,yr,weather sit are categorical variables having numerical values difficult to understand need mapping back text values. so it will be clear
4. cnt is sum of casual and registered as per data dictionary

### Understanding Structure of dataset

In [5]:
# checking the shape of the data
df.shape

(730, 16)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 730 entries, 0 to 729
Data columns (total 16 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   instant     730 non-null    int64
 1   dteday      730 non-null    object
 2   season      730 non-null    int64
 3   yr          730 non-null    int64
 4   mnth        730 non-null    int64
 5   holiday     730 non-null    int64
 6   weekday     730 non-null    int64
 7   workingday  730 non-null    int64
 8   weathersit  730 non-null    int64
 9   temp        730 non-null    float64
 10  atemp       730 non-null    float64
 11  hum         730 non-null    float64
 12  windspeed   730 non-null    float64
 13  casual      730 non-null    int64
 14  registered  730 non-null    int64
 15  cnt         730 non-null    int64
dtypes: float64(4), int64(11), object(1)
memory usage: 91.4+ KB

In [ ]:
#checking data distribution
df.describe()

<font color='green'>Observation</font>
 1. 730 rows and 16 columns
 2. dteday  needs to be type casted to date time
 3. All numerical columns does not have abnormal jump between 75 to max. No Outlier present

### Data Quality checks

In [ ]:
# Checking columns with missing percentage
100*df.isnull().mean().sort_values(0)

In [ ]:
# checking rows with missing percentage
100*df.isnull().mean(axis=1).sort_values(0)

In [ ]:
# checking for duplicate rows
df_duplicated = df[df.duplicated()]
print("number of duplicate rows: ", df_duplicated.shape)

In [ ]:
#checking for Cloumns with Constant and unique values
df.nunique()

<font color='green'>Observation</font>
1. No missing values at rows and columns
2. No duplicate rows
3. instant and dteday is having unique values
4. Season,yr,mnth,holiday,weekday,workingday values matches with data dictionary
5. weathersit having only 3 valus one of the value not having any data

## Data Preparation

### Fixing Data Types

In [ ]:
# converting date type
df["dteday"] = pd.to_datetime(df["dteday"],format="%d-%m-%Y")

In [ ]:
df.info()

In [ ]:

# As the weekday is not clean and 0 to 6 difficult understand, mapping weekday with day name
df["weekday"] = df["dteday"].dt.day_name()

In [ ]:
df.head()

In [ ]:
df.tail()

<font color='green'>Observation</font>
  1. Now both head and tail weekdays are matching

### Converting Values to clean and understandable format

In [ ]:
# Defining the map function for season
def season_map(x):
    return {1:"spring", 2:"summer", 3:"fall", 4:"winter"}[x]

# Defining the map function for year
def year_map(x):
    return {0:"2018", 1:"2019"}[x]

# Defining the map function for month
def month_map(x):
    return {1:"JAN", 2:"FEB", 3:"MAR", 4:"APR",5:"MAY", 6:"JUN", 
                  7:"JUL", 8:"AUG",9:"SEP", 10:"OCT", 11:"NOV", 12:"DEC"}[x]

# Defining the map function for weathersit
def weathersit_map(x):
    return {1:"Clear", 2:"Mist Cloudy", 3:"Light Snow", 4:"Snow Fog"}[x]

# Applying the function to the season
df["season"] = df["season"].apply(season_map)

# Applying the function to the year
df["yr"] = df["yr"].apply(year_map)

# Applying the function to the month
df["mnth"] = df["mnth"].apply(month_map)

# Applying the function to the weathersit
df["weathersit"] = df["weathersit"].apply(weathersit_map)

In [ ]:
df.head()

### Droping irrelevant columns

In [ ]:
#instant,dteday are unique
# casual,casual are dependent variables to target
df.drop(['instant','dteday','casual','registered'], axis = 1, inplace = True)

In [ ]:
df.head()

## EDA

In [ ]:
categorical_variables = ["season","yr","mnth","holiday","weekday","workingday","weathersit"]
continuous_variables = ["temp","atemp","hum","windspeed","cnt"]

#### Univariate Analysis

In [ ]:
for column in continuous_variables:
    sns.histplot(x=df[column])
    plt.title(column+ ' count distribution')
    plt.show()

<font color='green'>Observation</font>
 1. Most days winds speed between 7.5 to 17.5
 2. Most days humidity between 50 to 80
 3. Most days demand between 4K to 6K

In [ ]:
for column in categorical_variables:
    sns.countplot(x=df[column])
    plt.title(column+ ' count distribution')
    plt.show()

<font color='green'>Observation</font>
 1. As there is one row present for each day - month,year,weekday,season,holiday,working day has no patterns simply reflects clender
 2. No Data for weather is Heavy Rain + Ice Pallets + Thunderstorm + Mist, Snow + Fog

#### Bivariate Analysis

In [ ]:
#creating pair plot for numerical values
sns.pairplot(df)
plt.show()

<font color='green'>Observation</font>
  1. temp and atemp haing postive linear relationship
  2. humidity and windspeed having negative linear relationship

In [ ]:
for column in categorical_variables:
    sns.boxplot(x=df[column],y=df["cnt"])
    plt.show()

<font color='green'>Observation</font>
1. Spring Season having lesser demand compared to other season and fall season had more demand
2. 2019 had more demand compared to 2018
3. Demand increase gradually from JAN to SEP and then drops
4. More demand observed on the non-holiday
5. More demand observed on the clear weather situation

<font color='green'>validation of lienar Regression Assumption</font> 
1. We can observe linear relation between target variable and features

### Creating Dummy Variables

In [ ]:
# creating dummies for categorical variable which is non binary
# drop_first= True makes sure n-1 dummy variable creation
dummies_df = pd.get_dummies(df[["season","yr","mnth","weekday","weathersit"]], drop_first = True)
df = pd.concat([df, dummies_df], axis = 1)
df.columns

In [ ]:
# droping Original columns
df.drop(["season","yr","mnth","weekday","weathersit"], axis = 1, inplace = True)

## Model Building

### Test Train Split

In [ ]:
#using 80% training data and 20% test data
df_train, df_test = train_test_split(df, train_size = 0.7, test_size = 0.3, random_state = 100)

### Scaling features

In [ ]:
#using min max scaler to scale the numerical values
scaler = MinMaxScaler()
numerical_cloumns = ['temp', 'atemp', 'hum', 'windspeed','cnt']
df_train[numerical_cloumns] = scaler.fit_transform(df_train[numerical_cloumns])

In [ ]:
df_train.describe()

In [ ]:
#checking the correlation coefficients to see which variables are highly correlated 
plt.figure(figsize = (32, 20))
sns.heatmap(df_train.corr(), annot = True, cmap="YlGnBu")
plt.show()

<font color='green'>Observation</font>
1. temp and atemp are highly correlated
2. seasons and respective months in which season occurs are highly correlated as expected
3. humidity and weather light snow and mist are highly co-related
4. Demand(cnt) having high correlation with temp, year-2019

In [ ]:
df_train.columns.size

As there are 29 features we can use RFE Automated + Manual approach for feature selection

### Feature Selection

#### RFE

In [ ]:
#split target and features
y_train = df_train.pop('cnt') #removing column cnt from df_train
X_train = df_train

In [ ]:
#using RFE get 15 features
estimator=LinearRegression()
selector=RFE(estimator,n_features_to_select=15)

selector=selector.fit(X_train,y_train)
list(zip(X_train.columns,selector.support_,selector.ranking_)) #printing along with rank

In [ ]:
#filtering the data based on selected features
selected_features=df_train.columns[selector.support_]
X_train=df_train[selected_features]
X_test=df_test[selected_features]

In [ ]:
X_train_sm=sm.add_constant(X_train)#adding contant to work with stats model

In [ ]:
#model training
model1=sm.OLS(y_train,X_train_sm)
result1=model1.fit()
result1.summary()

In [ ]:
#checking for VIF
vif_data=pd.DataFrame()
vif_data["Feature"]=X_train.columns

vif_data["VIF"]=[variance_inflation_factor(X_train.values,i) 
                 for i in range(len(X_train.columns))]
vif_data

### Manual Feature Selection

In [ ]:
#droping humidity due to high VIF
X_train_sm=X_train_sm.drop(["hum"],axis=1)

In [ ]:
# re-iterating the model2
model2=sm.OLS(y_train,X_train_sm)
result2=model2.fit()
result2.summary()

In [ ]:
#checking for VIF
vif_data=pd.DataFrame()
vif_data["Feature"] = X_train_sm.columns
vif_data["VIF"]=[variance_inflation_factor(X_train_sm.values,i) 
                 for i in range(len(X_train_sm.columns))]
vif_data

In [ ]:
#droping season_spring due to high VIF
X_train_sm=X_train_sm.drop(["season_spring"],axis=1)

In [ ]:
#re-iterate the model
model3=sm.OLS(y_train,X_train_sm)
result3=model3.fit()
result3.summary()

In [ ]:
#checking for VIF
vif_data=pd.DataFrame()
vif_data["Feature"]=X_train_sm.columns
vif_data["VIF"]=[variance_inflation_factor(X_train_sm.values,i) 
                 for i in range(len(X_train_sm.columns))]
vif_data

In [ ]:
# dropping month Nov due to p value >0.05
X_train_sm=X_train_sm.drop(["mnth_NOV"],axis=1)

In [ ]:
#re-iterate model 4
model4=sm.OLS(y_train,X_train_sm)
result4=model4.fit()
result4.summary()

In [ ]:
#checking for VIF
vif_data=pd.DataFrame()
vif_data["Feature"]=X_train_sm.columns

vif_data["VIF"]=[variance_inflation_factor(X_train_sm.values,i) 
                 for i in range(len(X_train_sm.columns))]
vif_data

In [ ]:
# dropping month December  due to pvalue >0.05
X_train_sm=X_train_sm.drop(["mnth_DEC"],axis=1)

In [ ]:
#re-iterate model 5
model5=sm.OLS(y_train,X_train_sm)
result5=model5.fit()
result5.summary()

In [ ]:
#checking VIF
vif_data=pd.DataFrame()
vif_data["Feature"]=X_train_sm.columns

vif_data["VIF"]=[variance_inflation_factor(X_train_sm.values,i) 
                 for i in range(len(X_train_sm.columns))]
vif_data

1. All the P value are <0.006 and VIF <5 
2. Selected 10 features are optimal and we can stop iteration

## Model Evaluation

### Residual Analysis

In [ ]:
#calculating y_pred
y_pred = result5.predict(X_train_sm)

In [ ]:

def plot_Error_Terms(y_actual,y_pred):
    fig = plt.figure()
    sns.distplot((y_actual - y_pred), bins = 20)
    fig.suptitle('Error Terms', fontsize = 20)
    plt.xlabel('Errors', fontsize = 18)

# Plot the histogram of the error terms
plot_Error_Terms(y_train,y_pred)

In [ ]:

def plot_actual_and_pred(y_actaul,y_pred):
    fig = plt.figure()
    plt.scatter(y_actaul,y_pred)
    fig.suptitle('y_actual vs y_pred', fontsize=20)             
    plt.xlabel('y_actual', fontsize=18)                         
    plt.ylabel('y_pred', fontsize=16)
    
#ploting actual vs prediction for train data.   
plot_actual_and_pred(y_train,y_pred)

In [ ]:
#plotting error variance
def plot_error_and_pred(y_actual,y_pred):
    fig = plt.figure()
    plt.scatter(y_pred,(y_actual-y_pred))
    fig.suptitle('Error vs y_pred', fontsize=20)             
    plt.xlabel('y_pred', fontsize=18)                         
    plt.ylabel('Error', fontsize=16)
plot_error_and_pred(y_train,y_pred)

In [ ]:
#calculating root mean square error
rmse = mean_squared_error(y_train, y_pred, squared=False)
rmse

### model Evaluation using Test data

In [ ]:
#scaling test data with training data fitting 
df_test[numerical_cloumns] = scaler.transform(df_test[numerical_cloumns])
df_test.describe()

In [ ]:
#preparing test data for prediction
y_test = df_test.pop('cnt')
X_test = df_test

In [ ]:
X_test_sm = sm.add_constant(X_test)

In [ ]:
X_test_sm = X_test_sm[X_train_sm.columns]

In [ ]:
#making prediction on test data
y_pred_test = result5.predict(X_test_sm)

In [ ]:
# Plot the histogram of the error terms for test data
plot_Error_Terms(y_test,y_pred_test)

In [ ]:
#ploting actual vs prediction for test data
plot_actual_and_pred(y_test,y_pred_test)

In [ ]:
#plotting error variance
plot_error_and_pred(y_test,y_pred_test)

In [ ]:
r2=r2_score(y_test, y_pred_test)
r2

In [ ]:
X_test_sm.shape

In [ ]:
adj_r2 = 1-(1-r2)*(X_test_sm.shape[0]-1)/(X_test_sm.shape[0]-X_test_sm.shape[1]-1)
adj_r2

In [ ]:
rmse = mean_squared_error(y_test, y_pred_test, squared=False)
rmse

<font color='green'>Observation</font>

From both training and test data residual analysis we can confirm that
1. Error terms are normally distributed 
2. Error terms are independent of each other
3. Error terms have constant variance (homoscedasticity)

### Model Efficiency

1. Training Data R^2 - 0.835
2. Training Data Adjusted R^2 -0.831
3. Training Data MSE -  0.0912
4. Test Data R^2 - 0.791
5. Test Data Adjusted R^2 - 0.778
6. Test Data MSE - 0.0995

## Conclusion

$ cnt  = 0.1481-0.0994  \times holiday + 0.5408 \times temp -0.1615 \times windspeed + 0.0722 \times season \_ summer + 0.1153 \times season\_winter + 0.2331 \times yr\_2019
-0.0442 \times mnth\_JAN -0.0398 \times mnth\_JUL +0.0898 \times mnth\_SEP -0.2845 \times weathersit\_Light Snow -0.0798 \times weathersit\_Mist Cloudy $

Following are the predictor impacting demand in order highest to lowest
1. temp
2. weathersit_Light Snow
3. year 2019
4. windspeed
5. season_winter
6. holiday
7. mnth_SEP
8. weathersit_Mist Cloudy
9. season_summer
10. mnth_JAN
11. mnth_JUL

How well this predictors describe demand is explained by it's respective co-efficient on the above equation